@inherits LayoutComponentBase

<div class="relative w-full">
    <NavMenu />
    <main class="max-w-6xl mx-auto">
        @Body
    </main>
</div>

<div id="blazor-error-ui" hidden>
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
