@implements IDisposable

@inject NavigationManager NavigationManager

<nav id="nav_main" class="fixed w-full">
    <div class="max-w-6xl mx-auto">
        <div id="navbar" class="flex justify-between">
            <a href="/" class="text-bold">
                <h2 class="text-xl">BlazorTailwind</h2>
            </a>
            <button id="nav_burger" onclick="document.getElementById('nav_main').classList.toggle('open')">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="nav_items">
            <ul>
                <li>
                    <NavLink href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="counter">
                        Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink href="weather">
                        Weather
                    </NavLink>
                </li>
            </ul>
            <AuthorizeView>
                <Authorized>
                    <ul>
                        <li>
                            <NavLink href="Account/Manage">
                                @context.User.Identity?.Name
                            </NavLink>
                        </li>
                        <li>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </Authorized>
                <NotAuthorized>
                    <ul>
                        <li>
                            <NavLink href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                            </NavLink>
                        </li>
                        <li>
                            <NavLink href="Account/Login">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                    </ul>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
