/BlazorTailwind/BlazorTailwind/node_modules/
/BlazorTailwind/BlazorTailwind/bin/
/BlazorTailwind/BlazorTailwind/obj/
/BlazorTailwind/BlazorTailwind.Client/bin/
/BlazorTailwind/BlazorTailwind.Client/obj/
/.vs/